body{
    margin: 0%;   

}
div.contenedor{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh  40vh repeat(3 , 1fr);
    width: 100vh;
    height: 100vh;
    background-color: white;
    
}
header.cabezon{
    grid-column: 1;
    background-color: black;
    text-align: center;
    color: white;
    font-size:40px;
    padding: 10%;
}
nav.menu{
    grid-column: span 3;
    background-color: red;
    text-align: center;
    color: white;
    font-size:40px;
    padding: 3%;
}
div.hero{
    grid-row: 2;
    grid-column: span 4;
    background-color: hsl(240, 100%, 68%);
    text-align: center;
    color: white;
    font-size:100px;
    padding: 15%;
}
div.main{
    grid-column: span 2;
    grid-row: span 2;
    background-color: darkblue;
    text-align: center;
    color: white;
    font-size:80px;
    padding: 25%;
}
div.image{
    grid-column-start: 4;
    grid-row-start: 3;
    background-color:cyan;
    text-align: center;
    color: white;
    font-size:50px;
    padding: 20%;
}
div.extra{
    grid-column-start: 4;
    grid-row-start: 4;
    background-color: #bfe882e2;
    text-align: center;
    color: white;
    font-size:50px;
    padding: 20%;
}
footer.banner{
    grid-row-start: 5;
    grid-column: span 4;
    background-color: yellow;
    text-align: center;
    color: white;
    font-size:70px;
    padding: 5%;
}
 
 /* Media queries para 768px */
 @media (max-width: 768px) {
    header.cabezon{
        grid-column: span 4;
    }
    div.hero{
        grid-row: 2;
    }
    nav.menu{
        grid-column: 1;
        grid-row: 3 /6;
    }
    div.image{

    }
    div.extra{
    }
    footer.banner{

    }

 }


/* Media queries para 425px */
 @media (max-width: 425px) {

  }