/* vale  010 */
.container{
    color: aqua;
}
/* vale  020 */
.container [href]{
    color: aquamarine;
}
/* vale  011 */
.container h1{
    color: #000;
}
/* vale  110*/
.container #titulo{
    color: #000;
}
/* vale  110*/
.container{
    color: #000 !important;
}