div.efecto{
    width: 100px;
    height: 100px;
    background-color: aqua;
    outline-offset: 1px;
    border: solid;
    outline: 6px dotted red;
}
div.efecto:hover{
    outline-offset: -5px;
    outline: 2px dotted black;
}
div.cliki{
    width: 100px;
    height: 100px;
    background-color:brown;
    outline-offset: 1px;
    border: solid;
    outline: 6px dotted green;
}
div.cliki:active{
    outline-offset: -5px;
    outline: 3px dashed wheat;
}