div.headres{
    width: 49.7%;
    height: 50px;
    background-color: orange;
    margin-right: 5px;
    float: left;
    margin-bottom: 15px;
  }
  div.headres2{
    width: 49.7%;
    height: 50px;
    background-color: orange;
    float: left;
    margin-bottom: 15px;
  }
  div.solo{
    width: 100%;
    height: 300px;
    background-color: yellow;
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  div.mediusm1 {
    width: 32.3%;
    height: 120px;
    background-color: blue;
    margin-right: 1%;
    float: left;
    margin-bottom: 1%;
  }
  div.mediusm2{
    width: 32.3%;
    height: 120px;
    background-color: blue;
    float: left;
    margin-bottom: 2%;
  }
  div.mediusm3{
    width: 32.3%;
    height: 120px;
    background-color: blue;
    float: left;
    margin-bottom: 2%;
    margin-left: 1%;
  }
  div.footers1{
    width: 24%;
    height: 100px;
    background-color: grey;
    float: left;
    clear: both;
  }
  div.footers2{
    width: 24%;
    height: 100px;
    background-color: grey;
    float: left;
    margin-left: 1%;
  }
  div.footers3{
    width: 24%;
    height: 100px;
    background-color: grey;
    float: left;
    margin-left: 1%;
  }
  div.footers4{
    width: 24%;
    height: 100px;
    background-color: grey;
    float: left;
    margin-left: 1%;
  }
  
  /* Media queries para 768px */
  @media (max-width: 768px) {

    div.headres,
    div.headres2 {
      width: 100%;
      clear: both;
    }

    div.solo{
        width: 100%;
        height: 250px;
    }
  
    div.mediusm1,
    div.mediusm2,
    div.mediusm3 {
      width: 100%;
      clear: both;
      margin-left: 0%;
      margin-top: 1%;
    }
  
    div.footers1,
    div.footers2,
    div.footers3,
    div.footers4 {
      width: 49%;
      margin-top: 1%;
      margin-left: 1%;
    }
  }  
  /* Media queries para 320px */
  @media (max-width: 320px) {
    div.headres,
    div.headres2 {
      width: 100%;
      clear: both;
    }

    div.solo{
        width: 100%;
        height: 50px;
    }
  
    div.mediusm1,
    div.mediusm2,
    div.mediusm3 {
      width: 100%;
      height: 150px;
      clear: both;
      margin-left: 0%;
      margin-top: 1%;
    }
  
    div.footers1,
    div.footers2,
    div.footers3,
    div.footers4 {
      width: 100%;
      clear: both;
      margin-left: 0%;

    }
  
  }