body {
    background-color:bisque;
  }
h1{
    color: green    ;
    block-size: auto;
}
h1:hover {
    color: red;
    block-size: auto;
  }

p::selection {
    background-color: yellow;
    color: red  ;
  }
.columnas {
    column-count: 3;
    column-gap: 40px;
    column-rule-style: inset;
    column-rule-width: 2px;
    column-rule-color: red;

  }