body {
    background-color:bisque;
  }
span{
    color: green;
}

span:hover  {
    color: red;    
  }

p::selection {
    background-color: yellow;
    color: red  ;
  }
.columnas {
    column-count: 3;
    column-gap: 40px;
    column-rule-style: inset;
    column-rule-width: 2px;
    column-rule-color: red;

  }