body {
    background-color:bisque;
  }
h1{
    color: green;
    max-width:fit-content;
    display: inline;
}

h1.limit:hover  {
    color: red;
    display: inline;
    
    
  }

p::selection {
    background-color: yellow;
    color: red  ;
  }
.columnas {
    column-count: 3;
    column-gap: 40px;
    column-rule-style: inset;
    column-rule-width: 2px;
    column-rule-color: red;

  }